*, ::after, ::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/*--------------------------*/
$white: #FBF7F6;
$green: #B4CB91;
$dark-green: #899c6e;
$black: #445166;
$dark-light: #EEE5E3;

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

$font: 'Quicksand', Arial;

$title-font-size: 4rem;
$text-size: 2rem;

/*---------------------------*/

html{
    font-family: $font;
    scroll-behavior: smooth;
    ::-webkit-scrollbar{
        display: none;
    }
}

::selection{
    background-color: $dark-green;
    color: $white;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
header{
    z-index: 100;
}
#NAVBAR {
    $left-space: 1.5rem;
    position: fixed;
    inset: 0 auto 0 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $left-space;
    user-select: none;
    z-index: 100;

    .nav-list{
        $width: 4rem;
        $img-size: 3rem;
        $gap: .5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $width;
        border-radius: 5rem;
        background-color: $dark-light;
        padding: 1rem 0;
        gap: 1rem;

        img{
            height: $img-size;
            width: $img-size;
        }
    }

}

.page-wraper{
    display: flex;
    flex-direction: row;
    gap: 15vw;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 6rem;
    width: auto;
    height: auto;
}

/* HOME */

#HOME {
    //Variables
    $logo-size: 50rem;

    display: flex;
    gap: 5rem;
    grid-column: 1 / 4;
    grid-row: 1;
    position: relative;
    width: calc(100vw - 6rem );
    padding-left: 6rem;
    

    .left{
        justify-self: left;
        align-self: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        
        padding-left: 5rem;
        color: $black;
        height: 100%;

        .wrap-text {
            white-space: nowrap;
        }

        .logo-container{
            user-select: none;
            overflow: hidden;
            height: auto;
            width: $logo-size;
            .logo{
                pointer-events: none;
                width: $logo-size;
                height: auto;            
            }
        }

        .home-text{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-self: center;
            gap: 1rem;
            font-family: $font;
            
            hr{
                display: block;
                height: .25rem;
                width: 100%;
                background-color: $green;
                border-radius: 5rem;
            }

            .title {
                font-size: $title-font-size;
            }

            .text{
                font-size: $text-size;
            }
        }

    }

    .right{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 3rem;
        padding-bottom: 3rem;
        pointer-events: none;
        user-select: none;

        img{
            width: auto;
            height: 60%;
        }
    }
}

/* MORE  */
#MORE{
    display: flex;
    padding-bottom: 6rem;
    gap: 3rem;
    grid-column: 2/ 4;
    grid-row: 1;
    position: relative;
    width: calc(100vw - 9rem);
    .logo-container {
        position: absolute;
        top: 2rem;
        left: -4rem;
        img{
            width: 20rem;
            height: auto;
        }
    }
    .left, .right{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        width: 45%;
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3rem;
            height: 60%;
            color: $black;
            hr{
                display: block;
                min-height: .25rem;
                width: 100%;
                background-color: $green;
                border-radius: 5rem;
            }
            img{
                height: auto;
                width: 80%;
                align-self: center;
            }
            .article-title {
                font-size: calc( $title-font-size - 1rem );
            }
            p{
                font-size: calc( $text-size - .5rem );
            }
        }
    }
    .right{
        transform: translateY(-3rem);
    }
}

/* CONTACT */
#CONTACT {
    display: flex;
    padding-bottom: 6rem;
    gap: 3rem;
    grid-column: 3/ 4;
    grid-row: 1;
    position: relative;
    width: calc(100vw - 9rem);
    align-items: center;
    justify-content: center;
    
}

/* Nav-unit */

#NAV_UNIT {
    position: fixed;
    inset: auto auto 1.5rem auto;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    $arrows_size: 1.5;
    $points_size: 2.5;
    @function calc-point-active-size($points-size) {
        $points-size-active: $points_size - 0.8;
        @return $points-size-active;
    }


    .arrow{
        box-sizing: content-box;
        position: relative;
        transform-origin: center;
        svg{
            transform: scale($arrows-size);
            .poly{
                fill: $dark-light;
                transition: fill 150ms linear;
            }
        }
        &.left{
            transform: rotate(-90deg);
        }
        &.right {
            transform: rotate(90deg);
        }

        &:hover{
            cursor: pointer;
            svg{
                .poly{
                    fill: $green;
                }
            }
        }
    }

    .slider{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        hr{
            display: block;
            height: .5rem;
            min-width: 100%;
            background-color: $dark-light;
            position: absolute;
            z-index: 1;
        }
        .points-container{
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            gap: 3.5rem;
            .point{
                height: $points-size+rem;
                width: $points-size+rem;
                background-color: $dark-light;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .point-active{
                    display: none;
                }
                &.active{
                    .point-active{
                        display: block;
                        height: calc-point-active-size($points_size)+rem;
                        width: calc-point-active-size($points_size)+rem;
                        background-color: $green;
                        border-radius: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        &::after, &::before{
                            content: '';
                            display: block;
                            width: 2rem;
                            height: .25rem;
                            background-color: $green;
                            position: absolute;
                            border-radius: 1rem;
                        }

                        &::after{
                            transform: translateX(99%);
                        }

                        &::before{
                            transform: translateX(-80%);
                        }

                        &.left{
                            &::before{
                                display: none;
                            }
                        }

                        &.right{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }

                &:hover{
                    cursor: pointer;
                    .point-active{
                        display: block;
                        height: calc-point-active-size($points_size)+rem;
                        width: calc-point-active-size($points_size)+rem;
                        background-color: $green;
                        border-radius: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        opacity: 0;
                        transition: opacity 150ms linear;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
}