/* By __gride__, 01/06/22 */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* ------------------- */

html{
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

.section-wraper {
    position: absolute;
    inset: 0 auto 0 0;
    width: 400vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(4, 100vw);
    .section{
        display: grid;
        place-items: center;
        width: 100%;
        height: 100vh;
    }
    .s1{
        background-color: #f00;
    }
    .s2{
        background-color: #0f0;
    }
    .s3{
        background-color: #00f;
    }
    .s4{
        background-color: #f0f;
    }
}